@tailwind base;
@tailwind components;
@tailwind utilities;
.max-h-screen-90 {
  max-height: 90vh;
}

@media (max-width: 768px) {
  .max-h-screen-90 {
    max-height: 80vh;
  }
}

@media (max-width: 480px) {
  .max-h-screen-90 {
    max-height: 70vh;
  }
}
